<article>
    <header class="text-right be-small">
        <%= time_ago_in_words(comment.created_at)%> ago - <%= link_to "Borrar", [@article, comment], class:'red', method: :delete %>
    </header>
    <div class="row">
        <div class="col-xs-1 col-md-1">
            <div class="box">
                <%= image_tag(comment.user.avatar, height: '100', width: '100') %>
                <%= comment.user.nickname %>
            </div>
        </div>
        <div class="col-md margin-left text-left">
            <%= comment.body %>
        </div>

    </div>
</article>