<article class="bottom-space">
  <div class="field text-center">
    <%= image_tag @article.cover.url(:thumb) %>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 light-border col-md-7">
      <h1 class="be-big blue"><%= @article.title %></h1>
      <p class="text-right be-small">
        <%= link_to "Atrás", articles_path, class:'underline'%> -
        <span class="red"><%= @article.visits_count%> Visita(s) </span> -
        <% unless @article.user.nil? %>
          Escrito por <%= @article.user.nickname %>
        <% end %>
      </p>
      <div class="text-justify">
        <%= @article.body %>
      </end>
      <div>
        <%= render "articles/comments" %>
      </div>
    </div>
  </div>
</article>
