<%= form_for(@user) do |f| %>
    <% @user.errors.full_messages.each do |message| %>
        <div class="top-space">
          * <%= message %>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, placeholder: "Nickname", class:"form-control" %>
    </div>
    
    <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email, class:"form-control" %>
    </div>

    <div class="form-group field">
        <%= f.label :sex, 'Indicanos tu sexo'%>
        <%= f.select :sex, @user_sexes, {}, class:"form-control" %>
    </div>

    <div class="field">
        <p>Avatar:</p>
        <%= image_tag @user.avatar.url(:thumb) %>
    </div>
    
    <div class="field">
        <%= f.file_field :avatar %>
    </div>

    <div class="field">
        <%= f.label :about, 'Acerca de mí' %>
        <%= f.text_field :about, class:"form-control" %>
    </div>
    
    <div class="form-group field">
        <%= f.label :permission_level %>
        <%= f.select :permission_level, @user_types, {}, class: 'form-control' %>
    </div>

    <div class="field">
        <%= f.submit "Guardar", class: 'btn', id: 'button-new' %>
    </div>
<% end %> 