<%= form_for(@user) do |f| %>
    <% @user.errors.full_messages.each do |message| %>
        <div class="top-space">
          * <%= message %>
        </div>
    <% end %>
    <div class="field">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, placeholder: "Nickname" %>
    </div>
    <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div> 

    <div class="field">
        <%= f.label :permission_level %>
        <%= f.select :permission_level, options_for_select([['Administrador', 3], ['Editor', 2], ['Estandar', 1]]) %>
    </div>

    <div class="field">
        <%= f.submit "Guardar" %>
    </div>
<% end %> 