<%= form_for(@user) do |f| %>
    <% @user.errors.full_messages.each do |message| %>
        <div class="top-space">
          * <%= message %>
        </div>
    <% end %>
    <div class="field">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, placeholder: "Nickname" %>
    </div>
    <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
    <div class="field">
        <%= f.label :sex %>
        <%= f.select :sex, @user_sexes %>
    </div>

    <div class="field">
        Avatar: <%= f.file_field :avatar %>
    </div>
    
    <div class="field">
        <%= f.label :permission_level %>
        <%= f.select :permission_level, @user_types %>
    </div>

    <div class="field">
        <%= f.submit "Guardar" %>
    </div>
<% end %> 