<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

<!--Old-->
        <header>
            <nav class="be-red white large-padding">
                <ul class="no-list row center-xs">
                    <li class="col-md">
                        <h1 class="no-margin" id="logo"><%= link_to "dinoBlog", root_path %></h1>
                    </li>
                    <li class="col-md">
                        <%= link_to "Artículos", articles_path %>
                    </li>

                    <div class="col-md dropdown">
                        <a class="btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categorías
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <% @categories.each do |category| %>
                                <li class="col-md dropdown-item">
                                    <%= link_to category.name, category %>      
                                </li>
                            <% end %>
                        </div>
                    </div>


                    <% unless current_user.nil? %>
                        <% if current_user.is_admin? || current_user.is_editor? %>
                            <li class="col-md">
                                <%= link_to "Dashboard", '/dashboard', method: :get%>
                            </li>  
                        <% end %>  
                    <% end %>

                    <li class="col-md">
                        <% if user_signed_in? %>
                            <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete%>
                        <% else %>
                            <%= link_to "Iniciar sesión", new_user_session_path, method: :get%>  
                        <% end %>  
                    </li>  
                </ul>
            </nav>
        </header>

    </body>

    <body>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
    </body>

</html>
