<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <header>
            <nav class="topnav large-padding">
                <ul class="no-list row center-xs">
                    <li class="col-md">
                        <%= link_to "DevAutodidacta", root_path, id:'a' %>
                    </li>
                    <li class="col-md">
                        <%= link_to "Artículos", articles_path, id:'a' %>
                    </li>
                    <div class="col-md dropdown">
                        <a class="col-md dropdown-toggle" href="#" id="a" data-toggle="dropdown">
                            Categorías
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <% @categories.each do |category| %>
                                <li class="col-md dropdown-item">
                                    <%= link_to category.name, category %>      
                                </li>
                            <% end %>
                        </div>
                    </div>
                    <% unless current_user.nil? %>
                        <% if current_user.admin? || current_user.editor? %>
                            <div class="col-md dropdown">
                                <a class="col-md dropdown-toggle" href="#" id="a" data-toggle="dropdown">
                                    Administrar
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li class="col-md dropdown-item">
                                        <%= link_to "Articulos", '/dashboard', method: :get%>
                                    </li>
                                    <li class="col-md dropdown-item">
                                        <%= link_to "Categorías", categories_path %>
                                    </li>
                                    <li class="col-md dropdown-item">
                                        <%= link_to "Usuarios", '/users', method: :get%>
                                    </li>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                    <li class="col-md">
                        <% if user_signed_in? %>
                            <%= link_to "Cerrar sesión", destroy_user_session_path, id:'a',method: :delete%>
                        <% else %>
                            <%= link_to "Iniciar sesión", new_user_session_path, id:'a', method: :get%>  
                        <% end %>  
                    </li>  
                </ul>
            </nav>
        </header>
    </body>

    <body>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
    </body>
</html>
